<div class="d-flex">
<div id="sidebar-containter" class="bg-primary">
  <div class="logo">
    <h4 class="text-light font-width-bold">My Blog</h4>
  </div>
  <div class="menu">
    <a href="/getcat" class="d-block text-light p-3"><i class="fa fa-align-justify mr-2 lead"></i>Category</a>
    <a href="/getitem" class="d-block text-light p-3"><i class="fa fa-th mr-2 lead"></i>Item</a>
    <a href="#" class="d-block text-light p-3"><i class="fa fa-info-circle mr-2 lead"></i>About</a>
  </div>
</div>

  